<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aic.aicdetactor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<!-- 录音权限 -->  
    <uses-permission android:name="android.permission.RECORD_AUDIO" />  
    <!-- 在SDCard中创建与删除文件权限 -->  
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />  
	
    <application
        android:name="com.aic.aicdetactor.app.myApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BtActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".btwifi_setting_activity">
        </activity>
        <activity
            android:name="com.aic.aicdetactor.check.StationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.aic.aicdetactor.check.DeviceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.aic.aicdetactor.check.DeviceItemActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.aic.aicdetactor.check.RouteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DownupActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.aic.aicdetactor.media.MediaMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.aic.aicdetactor.media.SoundRecordActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.aic.aicdetactor.media.NotepadActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.aic.aicdetactor.check.TempPlanActivity"
            android:label="@string/app_name" >
        </activity>
        
        <activity android:name="com.aic.aicdetactor.check.PartItemActivity" />        
         <activity android:name="org.achartengine.GraphicalActivity" />
          <activity android:name=".NetTestActivity" />
         
        <activity
            android:name="com.aic.aicdetactor.check.ElectricParameteActivity"
            android:label="@string/app_name" >
        </activity>
        <service android:name="com.aic.aicdetactor.service.DataService"> 
        <intent-filter> 
                <action android:name="com.demo.SERVICE_DEMO" /> 
                <category android:name="android.intent.category.default" /> 
        </intent-filter> 
</service>
    </application>

</manifest>